body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    

}
#help{
    background-color: blue;
    color: white;
    font-size: 2vw; 
    width: 3%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
}
#help:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    
}

#help-content {
    display: none;
    position: absolute;
    text-align: center;
    top: 70px;
    left: 10%;
    background-color: #050505;
    color: white;
    font-size: 3vw;
    width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(164, 164, 164, 0.2);
    z-index: 1;
  }

#help:hover #help-content , #help:focus #help-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}


.container{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 3%;
   
    width: 100%;
    height: 70px;
}


.score{
    font-size: 3vw;
}
.highestScore{
    font-size: 3vw;

}
.container_game{

    display: flex;
    flex-wrap: wrap;
    position: absolute;
   
    width: 100%;
    top: 70px;
    bottom: 0;
    background-color: black;

}
img{
    width: 30%;
}
/*
.ArrowUp{
    background-color: white;
}
.ArrowLeft{
    background-color: purple;
}

.ArrowDown{
    background-color: rgb(0, 255, 251);
}

.ArrowRight{
    background-color: red;
}
*/

button{
    background-color: blue;
    color: white;
    border: none;
    font-size: 3vw;
    height: 70px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}
button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
button:focus{
    outline: none;
    background: blue;
    color: white;

}

.snake{
    background-color: green;
}

.head{
    background-color: grey;
}
.headCrash{
    background-color: red;
}
.border{
    background-color: red;
}
.food{
    background-color: yellow;
}
.square{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}